{% extends 'base.html' %}


{% block main %}
    <ul>
         <h3>Students: {{ students.count }}</h3>
         {% for student in students %}
             <li>{{ student.firstname }} - {{ student.age }}</li>
         {% empty %}
             <p>Sorry. No results!</p>
         {% endfor %}
    </ul>
    <hr>
    <ul>
         <h3>Students: {{ students.count }}</h3>
         {% for student in stds %}
             <li>{{ student.firstname }}</li>
         {% endfor %}
    </ul>
    <hr>

    <h3>Students: {{ students.count }}</h3>
         {% for firstname in firstnames %}
             <li>{{ forloop.counter }}-{{ firstname.0 }}</li>
         {% endfor %}

    <hr>
    <h3>Students Salaries: {{ students_salary.count }}</h3>
         {% for std_salary in students_salary %}
             <li>{{ forloop.counter }}-{{ std_salary.salary }}</li>
         {% endfor %}

    <hr>
    <h3>All Salaries Salaries: {{ all_salaries.count }}</h3>
         {% for std_salary in all_salaries %}
             <li>{{ forloop.counter }}-{{ std_salary.salary }}</li>
         {% endfor %}

     <hr>
    <h3>All Lower Names: {{ students.count }}</h3>
         {% for name in students %}
             <li>{{ forloop.counter }}-{{ name.0 }}</li>
         {% endfor %}

    <hr>
    <h3>All Females: {{ students.count }}</h3>
         {% for female in females %}
             <li>{{ forloop.counter }}-{{ female }} - {{ female.gender }}</li>
         {% endfor %}

     <hr>
    <h3>All Adult Females: {{ older_females.count }}</h3>
         {% for adutl_female in older_females %}
             <li>{{ forloop.counter }}-{{ adutl_female }} - {{ adutl_female.gender }} - {{ adutl_female.age }}</li>
         {% endfor %}

     <hr>
    <h3>All Adult Females: {{ adult_females.count }}</h3>
         {% for adutl_female in adult_females %}
             <li>{{ forloop.counter }}-{{ adutl_female }} - {{ adutl_female.gender }} - {{ adutl_female.age }}</li>
         {% endfor %}

    <hr>
    <h3>All individual: {{ students.count }}</h3>
         {% for student in students %}
             <li>{{ forloop.counter }} - {{ student.firstname }} - {{ student.gender }} - {{ student.age }}</li>
         {% endfor %}

    <hr>
    <h3>Primary: {{ primary.count }}</h3>
         {% for student in primary %}
             <li>{{ forloop.counter }} - {{ student.firstname }} - {{ student.gender }} - {{ student.age }} - {{ student.classroom }}</li>
         {% endfor %}

    <hr>
    <h3>Secondary: {{ secondary.count }}</h3>
         {% for student in secondary %}
             <li>{{ forloop.counter }} - {{ student.firstname }} - {{ student.classroom }}</li>
         {% endfor %}

    <hr>
    <h3>Raw: {{ students.count }}</h3>
         {% for student in students %}
             <li>{{ forloop.counter }} - {{ student.id }} - {{ student.firstname }} - {{ student.classroom }}</li>
         {% endfor %}

    <hr>
    <h3>SQL connection: {{ students.length }}</h3>
         {% for student in students %}
             <li>{{ forloop.counter }} - {{ student.id }} - {{ student.firstname }} - {{ student.classroom }}</li>
         {% endfor %}


<h4>{{ copy_rights }}</h4>
{% endblock %}
