{% extends 'base.html' %}


{% block main %}
    <ul>
         <h3>Students: {{ students.count }}</h3>
         {% for student in students %}
             <li>{{ student.firstname }}</li>
         {% endfor %}
    </ul>
    <hr>
    <ul>
         <h3>Students: {{ students.count }}</h3>
         {% for student in stds %}
             <li>{{ student.firstname }}</li>
         {% endfor %}
    </ul>
    <hr>

    <h3>Students: {{ students.count }}</h3>
         {% for firstname in firstnames %}
             <li>{{ forloop.counter }}-{{ firstname.0 }}</li>
         {% endfor %}


{% endblock %}
